body {
  margin: 0;
  min-height: 100vh;
  background: url('background.jpg') repeat-x center top, #7ed3fa;
  font-family: "Courier New", Courier, monospace;
}

.menu-topo {
  background: #444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  font-size: 14px;
  flex-wrap: wrap;
}

.help {
  color: red;
}

.menu-topo a {
  color: #ffd800;
  text-decoration: none;
  margin: 0 14px;
  transition: color 0.2s;
}

.menu-topo a:hover {
  color: #ccc;
}

.container-titulo {
  background: rgba(255,255,255,0.97);
  margin: 36px auto 0 auto;
  max-width: 900px;
  border: 6px solid #bbb;
  box-shadow: 0 8px 40px #2224;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .placeholder-titulo {
    width: 90vw;
    font-size: 7vw;
    height: 22vw;
  }
  .container-titulo {
    padding: 4vw;
  }
}

.container-titulo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}